/* Importar la fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Variables globales */
:root{
  --Starship: #F3E31B;
  --Mineshaft: #040404;
  --husk: #96870B;
  --Sycamore: #7C6C04;
  --white: #f1f1f1;
  --padding: 8px;
  --margin: 10px;
  --border-radius: 8px;
  --transtition: 0.5s;
  --max-w: 1400px;
}
::selection{
  background: var(--Starship);
  color: var(--Mineshaft);
}
/* Seteo de margenes y paddin */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; /* Fuente para el cuerpo del Html */
}
/* Body */
body{
  background: var(--Mineshaft);
  color: var(--Starship);
  line-height: 24px;
}
/* Header */
header{
  text-align: center;
  border-bottom: solid 1px var(--Sycamore);
  margin-bottom: var(--margin);
}
/* Section */
section{
  padding: var(--padding);
}
.bg-gray{
  background: var(--white);
}
.color-black{
  color: var(--Mineshaft);
}
/* Etiquetas ancla */
a{
  color: var(--husk);
  text-decoration: none;
}
/* Etiquetas de titulos */
h1, h2{
  padding: var(--padding);
}
/* Etiquetas parrafos */
p{
  font-size: 1rem;
  margin: 0 0 var(--margin);
  color: var(--white);
}
/* Etiquetas parrafos */
p::first-letter{
  font-size: 1.4rem;
  color: var(--Starship);
  font-weight: 700;
}
/* Lista ul */
ul{
  list-style: none;
}
/* li que tengan la clase item */
ul.list > li.item{
  cursor: pointer;
}
/* Capture las a de li con la clase item */
li.item:hover > a{
  color: var(--Mineshaft);
}
/* Container */
.container{
  max-width: var(--max-w);
  margin: 0 auto;
  padding: var(--padding);
}
/* Componente de la card */
.card{
  width: 450px;
  border: solid 1px var(--husk);
  border-radius: var(--border-radius);
  margin: 0 auto;
}
.card__header{
  padding: var(--padding);
}
.card__title{
  word-break: break-all;
}
.card__body{
  padding: var(--padding);
}
.card__img{
  width: 100%;
}
.card__paragraph{
  padding: var(--padding);
}
/* Termina las cards */
/* Componente del boton */
.button{
  background: var(--Starship);
  color: var(--Mineshaft);
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 600;
  border: solid 1px var(--Starship);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transtition);
}
.button:hover{
  background: var(--Mineshaft);
  color: var(--Starship);
}
.button--outline{
  background: var(--Mineshaft);
  color: var(--Starship);
}
.button--outline:hover{
  background: var(--Starship);
  color: var(--Mineshaft);
}
.button__icon{
  font-size: 1.4rem;
} 
/* Termina el componente del boton */

.list{
  text-align: center;
  padding: var(--padding);
}
.item{
  border-bottom: solid 1px var(--husk);
  padding: var(--padding);
  font-size: 1.2rem;
  transition: var(--transtition);
}
.item:hover{
  background: var(--Sycamore);
}
ul.list > li.item a:visited{
  color: var(--Starship);
}
.item:last-child{
  border: none;
}
/* Terminan los estilos para la estructura */

/* Estilos para el formulario */
.search{
  display: flex;
  justify-content: end;
}
.search__form{
  border: solid 1px var(--Starship);
  border-radius: var(--border-radius);
  padding: var(--padding);
  display: inline-grid;
  justify-content: end;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 4px;
}
.input{
  width: 100%;
  padding: var(--padding);
  outline: none;
  border: none;
  border-radius: var(--border-radius);
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.margin__bottom{
  margin-bottom: var(--margin);
}